CompileFlags:
  Add:
    - "--include-directory=/usr/include/x86_64-linux-gnu/qt5/"
    - "--include-directory=/usr/include/x86_64-linux-gnu/qt5/QtNetwork/"
    - "--include-directory=/usr/include/x86_64-linux-gnu/qt5/QtCore/"
    - "--include-directory=/usr/include/x86_64-linux-gnu/qt5/QtGui/"
    - "--include-directory=/usr/include/x86_64-linux-gnu/qt5/QtWidgets/"
    - "--include-directory=../NickelHook"
